{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'html/js/custom.js' %}"></script>

    <link rel="shortcut icon" href="{% static 'html/favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'html/css/style.css' %}"/>

    <title>Registration</title>
</head>

<body>
    <header class="title">
        <h2>Login: </h2>
    </header>


    <form id="registrationForm" method="post">

        {% csrf_token %}
        {{ form.as_p }}
        <div id="msg"></div>
        <button type="submit" value="Post">Login</button>

    </form>



</body>
</html>