<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sell Recording</title>
</head>
<body>


<h1><a class="link" href="{% url 'home' %}">Home Page</a> &nbsp | &nbsp

    <a class="link" href="{% url 'personal_home_page' %}">Personal page</a> &nbsp | &nbsp

    Welcome: {{ user.username }} <a class="link" href="{% url 'logout' %}">Logout</a>

</h1>
<hr>
<form action="" method="post">
    {% csrf_token %}
    <h2>Sell recording</h2>
    <p>Artist: <input type="text" name="Artist" placeholder="Artist"> </p>
    <p>Recording: <input type="text" name="Recording" placeholder="Recording"></p>
    <p>Description: <textarea name="Desc" rows="1" cols="10" placeholder="Description"></textarea></p>
    <p>Price: <input type="text" name="Price" placeholder="Price"> </p>
    <input class="button" type="submit"  value="Sell" />
</form>
</body>
</html>