{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="shortcut icon" href="{% static 'html/favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'html/css/style.css' %}"/>

    <title>Home Page</title>
</head>
<body>
<header id="top">
    <div class="userHome">
        <a id="home" class="link" href="{% url 'home_page' %}">Home Page</a>
        <a id="personal" class="link" href="{% url 'personal_home_page' %}">Personal page</a>
    </div>


    <div class="userLog">
        {% if user.is_authenticated %}
            Welcome: {{ user.username }} <a class="link" href="{% url 'logout' %}">Logout</a>

        {% else %}
            <a class="link" href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>
</header>

<hr class="splitter">

<div id="content">

    {% if all_sell_recodings %}
        <ul class="listH">
        <h2>Buy Recording</h2>
        {% for recording in all_sell_recodings %}
            <li>
                Artist: {{ recording.artist.name }} -
                Recording: {{ recording.recording.title }} -
                User: {{ recording.user.username }}
            </li>
        {% endfor %}
        </ul>
    {% endif %}

</div>

</body>
</html>